* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #1c1a1d url(../Imagens/bmw-carro.jpg);
}

header {
    height: 120px;
    background: rgba(30, 28, 31, 0.3);
    color: #fff;
}

/* Coisas do header */

#imagem-logo {
    width: 100px;
    height: 100px;
    margin-left: 200px;
    padding: 15px 0px;
    float: left;
}

header ul {
    font-size: 20px;
    margin-left: 600px;
    padding: 50px 50px;
    list-style: none;
}

header ul li {
    margin-right: 30px;
    padding: 0px 10px;
    display: inline;
}

header a {
    text-decoration: none;
    color: #9b949a;
}

header a:hover {
    color: #fff;
}

/* Coisas da section */

#container {
    margin: 80px 100px;
    width: 450px;
    height: 350px;
    color: #fff;
    background: rgba(44, 44, 44, 0.4);
}

#conteudo {
    padding: 10px;
}

#conteudo:hover {
    background: rgba(44, 44, 44, 0.7);
}

h1 {
    font-size: 50px;
}

p {
    padding-top: 15px;
}

#container-loja {
    margin-left: 100px;
    margin-top: -60px;
    color: #fff;
    background: rgba(44, 44, 44, 0.4);
}

#loja ul {
    list-style: none;
}

#loja li {
    display: inline;
    padding: 10px 50px;
    margin-right: 50px;
    border-radius: 10px;
}

#comprar {
    padding: 10px;
    background: #2d2da8;
}

#ler-mais {
    border: 2px solid #3e316d;
    color: #3e316d;
    background: rgb(255, 255, 255, 0.5);
}

#loja a {
    text-decoration: none;
    color: #fff;
}

#ler-mais a {
    color: #3e316d;
}